<p id="notice"><%= notice %></p>

<h1>My Presences</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Checkin</th>
      <th>Checkout</th>
    </tr>
  </thead>

  <tbody>
    <% @presences.each do |presence| %>
      <tr>
        <td><%= presence.checkin.strftime("%A, %e %B %Y - %H:%M")  rescue presence.checkin %></td>
        <td><%= presence.checkout.strftime("%A, %e %B %Y - %H:%M") rescue presence.checkout %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
<%= paginate @presences %>
</center>

<br>