<p id="notice"><%= notice %></p>
 <div style="width: 100%;">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">My Reports</h6>
      </div>

      <div class="card-body">
          <div class="chart-area">

            <table class="table table-striped">

              <thead>
                <tr>
                  <th>Checkin</th>
                  <th>Checkout</th>
                </tr>
              </thead>

              <tbody>
                <% @presences.each do |presence| %>
                  <tr>
                    <td><%= presence.checkin.strftime("%A, %e %B %Y - %H:%M")  rescue presence.checkin %></td>
                    <td><%= presence.checkout.strftime("%A, %e %B %Y - %H:%M") rescue presence.checkout %></td>
                  </tr>
                <% end %>
              </tbody>

            </table>

            <center>
            <%= paginate @presences %>
            </center>
          </div>
        </div>
      </div>
  </div>
<br>