<style>
	input.button-checkout {
		background-color: red;
	}
</style>
<%= form_for @presence_to_update, :url => { :action => "update" } do |form| %>
  <div class="field" hidden="">
    <%= form.label :checkout %>
    <%= form.datetime_select :checkout %>
  </div>

  <div class="actions">
    <%= form.submit :Checkout, class: "button-checkout btn btn-primary btn-user btn-block" %>
  </div>
<% end %>