// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#csv {
  text-decoration: none;
  color: lightblue;
}

#csv:hover {
  background: none;
}

#excel {
  text-decoration: none;
  color: lightblue;
}

#excel:hover {
  background: none;
}

#excel-presence {
  text-decoration: none;
  color: lightblue;
}

#excel-presence:hover {
  background: none;
}

#csv-presence {
  text-decoration: none;
  color: lightblue;
}

#csv-presence:hover {
  background: none;
}

#pdf-presence {
  text-decoration: none;
  color: lightblue;
}

#pdf-presence:hover {
  background: none;
}