<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @report.subject %>
</p>

<p>
  <strong>Content:</strong><br />
  <%= strip_tags(@report.rich_text_content.to_s) %>
</p>
<%= link_to 'Back', reports_path %>
