<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @report.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= strip_tags(@report.content) %>
</p>
<%= link_to 'Back', reports_path %>
