div style="width: 100%;"
  div.card.shadow.mb-4
    div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      h6 class="m-0 font-weight-bold text-primary"= @report.subject
      = @report.created_at.strftime("%A, %e %B %Y - %H:%M")

    div class="card-body"
      div class="chart-area"
        p#notice = notice
        = @report.content